body{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    background-color: $fondo; 
    $coloresFondo:(
    amarillo:hwb(61 2% 4%),
    gris:#474768,
    celeste:rgba(137, 195, 248,),  
);
}
.articulos{
    height: 100vh;
}
