.header {
    border-bottom: 01px solid #f7b1b1;
  }
  .navbar {
    display: flex;     
    flex-direction: row; 
    justify-content: space-between;
    align-content: center;
    padding: 3rem; 
    a{
      padding: 0.5rem;
      background-color: map-get($coloresFondo, amarillo);
      border-radius: 0.5rem;
      color: #1310e2;
    }
    ul{
      display: flex;
      gap: 1rem;

    }
    a:hover {
      background-color: map-get($coloresFondo, verde );
  }
    
}
header, footer, article, aside, section{
  background-color:map-get($coloresFondo, celeste );
}
.d-block {
  border: 10px solid #a7b2b7ff;
}