@media (max-width: 1200px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
  }
  @media (max-width: 800px) {
    .section {
      flex-direction: column;
      align-items: center;
    }
  }
  $coloresFondo:(
    amarillo:#f6fa10,
    gris:#474768,
    celeste:rgba(137, 195, 248, 0.599),
);
